<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.towako.hospitaldoctors.doctor.mapper.DoctorQueryMapper">
  <select id="getDoctorIdsByHospitalId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select dh.doctor_id
    from hd_doctor_hospitals as dh
    where dh.hospital_id = ${hospitalId}
  </select>
</mapper>
