<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.towako.vip.membership.mapper.MembershipRecommendMapper">-->
<!--&lt;!&ndash;  <select id="findByMemberIds" parameterType="java.lang.Long" resultType="com.towako.vip.membership.response.MembershipRecommendDto">&ndash;&gt;-->
<!--  <select id="findByMemberIds" >-->
<!--    select m.id, c.name as recommend, c.traffic-->
<!--    from vip_wechat_memberships as m-->
<!--      left join (-->
<!--      select concat('DOCTOR_', id) as qr_scene, name, '医生' as traffic from chl_doctors-->
<!--      union-->
<!--      select concat('FAMILYHOTEL_', id) as qr_scene, name, '家庭旅馆' as traffic from chl_family_hotels) as c on m.qr_scene_str=c.qr_scene-->
<!--    where m.id in (1496399147778052096)-->
<!--&lt;!&ndash;    <foreach collection="memberIds" item="id" index="index" open="(" close=")" separator=",">&ndash;&gt;-->
<!--&lt;!&ndash;      #{id}&ndash;&gt;-->
<!--&lt;!&ndash;    </foreach>&ndash;&gt;-->
<!--  </select>-->

<!--</mapper>-->
