<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.towako.assistedreproduction.medicalrecord.mapper.MedicalRecordQueryMapper">
  <select id="searchMedicalRecord" resultType="com.towako.assistedreproduction.medicalrecord.MedicalRecordDto">
    select amr.id, amr.record_no as recordNo, amr.ivf, amr.name, amr.phone, amr.age,
           amr.hospital_id as hospitalId, hh.name as hospitalName
    from hd_doctors as hd
           inner join ar_medical_teams as amt on hd.user_id=#{currentUserId} and hd.id=amt.doctor_id
           inner join ar_medical_records as amr on amr.id = amt.medical_record_id
           left join hd_hospitals hh on amr.hospital_id = hh.id
    <if test="blurry!=null">
      where amr.record_no like concat('%', #{blurry},'%') or amr.name like concat('%', #{blurry},'%') or amr.phone like concat('%', #{blurry},'%')
    </if>
  </select>
</mapper>
